.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-trigger {
    padding: 10px 16px;
    color: var(--text);
    background-color: var(--bg);
    border: 1px solid var(--gray-1);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.dropdown-trigger:hover {
    filter: brightness(1.5);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    min-width: 160px;
    margin-top: 5px;
    background-color: var(--bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    list-style: none;
    overflow: hidden;
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 10px 16px;
    border: none;
    border-radius: 0;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    color: var(--text);
    background: var(--bg);
}


.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: var(--primary);
    filter: brightness(0.95);
}